Question 1:
The following is a list of 10 students ages: ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24] • Sort the list and find the min and max age • Add the min age and the max age again to the list • Find the median age (one middle item or two middle items divided by two) • Find the average age (sum of all items divided by their number) • Find the range of the ages (max minus min)

In [2]:
import statistics
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
#printing the sorted list of ages
print("sorted ages =",ages)
maximum_age=max(ages)
#printing the maximum age
print("maximum age=",maximum_age)
minimum_age=min(ages)
#printing the minimum age
print("minimum age=",minimum_age)
#adding minimum age
ages.append(maximum_age)
print("list after adding maximum age",ages)
#adding maximum age
ages.append(minimum_age)
print("list after adding minimum age",ages)
#getting the median age
median=statistics.median(ages)
print("median=",median)
#getting the average age
average=statistics.mean(ages)
print("average=",average)
#finding the range of ages.
range=maximum_age-minimum_age
print("range=",range)

sorted ages = [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
maximum age= 26
minimum age= 19
list after adding maximum age [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
list after adding minimum age [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 19]
median= 24.0
average= 22.75
range= 7

Question 2:
Create an empty dictionary called dog • Add name, color, breed, legs, age to the dog dictionary • Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary • Get the length of the student dictionary • Get the value of skills and check the data type, it should be a list • Modify the skills values by adding one or two skills • Get the dictionary keys as a list • Get the dictionary values as a list

In [3]:
dog = {} # creating an empty dictionary
print(dog)
dog={'name':'charlie','color':'black','breed':'german','legs':2,'age':6} #addding name,color,breed,legs age to the dictionary dog.
print(dog)
#creating the student dictionary
student = {'first_name':'Swathi','last_name':'Jonnalagadda', 'gender':'female', 'age':21,'marital status':'single',
'skills':['JavaScript', 'c','c++','r','Python'],'country':'USA', 'city':'kansas', 'address':'Overland Park'}
print(student)
#printing length of the student dictionary
print("length of the student dictionary :",len(student))
#getting the values of skills
print(student['skills'])
#checking the data type
print(type(student['skills']))
#modifying the skills values by adding
student['skills'].append('HTML')
print(student)
#getting the dictionary keys
student_keys=student.keys()
print("student_keys=", student_keys)
#getting the dictionary values
student_values=student.values()
print("student_values=", student_values)

{}
{'name': 'charlie', 'color': 'black', 'breed': 'german', 'legs': 2, 'age': 6}
{'first_name': 'Swathi', 'last_name': 'Jonnalagadda', 'gender': 'female', 'age': 21, 'marital status': 'single', 'skills': ['JavaScript', 'c', 'c++', 'r', 'Python'], 'country': 'USA', 'city': 'kansas', 'address': 'Overland Park'}
length of the student dictionary : 9
['JavaScript', 'c', 'c++', 'r', 'Python']
<class 'list'>
{'first_name': 'Swathi', 'last_name': 'Jonnalagadda', 'gender': 'female', 'age': 21, 'marital status': 'single', 'skills': ['JavaScript', 'c', 'c++', 'r', 'Python', 'HTML'], 'country': 'USA', 'city': 'kansas', 'address': 'Overland Park'}
student_keys= dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
student_values= dict_values(['Swathi', 'Jonnalagadda', 'female', 21, 'single', ['JavaScript', 'c', 'c++', 'r', 'Python', 'HTML'], 'USA', 'kansas', 'Overland Park'])

QUESTION 3
Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine) • Join brothers and sisters tuples and assign it to siblings • How many siblings do you have? • Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [4]:
sisters=('Lakshmi','Mounika','Swathi') #creating the tuple of sisters
print("sisters =",sisters)
brothers=('Sudheer','Ram','Mahesh') #creating tuple of brothers
print("brothers=",brothers)
sibilings = brothers+sisters #joining brothers and sisters tuple and assigning it to siblings
print("sibilings=",sibilings)
length=len(sibilings) #finding total number of siblings
print("length=",length)
lst_sibilings = tuple(sibilings)
print("lst_sibilings=",lst_sibilings)
#parents=('mother','father')
Father_name = "Saidulu"
Mother_name = "Sivaparvathi"
family_members=lst_sibilings + (Father_name,Mother_name)
print("family_members=",family_members)

sisters = ('Lakshmi', 'Mounika', 'Swathi')
brothers= ('Sudheer', 'Ram', 'Mahesh')
sibilings= ('Sudheer', 'Ram', 'Mahesh', 'Lakshmi', 'Mounika', 'Swathi')
length= 6
lst_sibilings= ('Sudheer', 'Ram', 'Mahesh', 'Lakshmi', 'Mounika', 'Swathi')
family_members= ('Sudheer', 'Ram', 'Mahesh', 'Lakshmi', 'Mounika', 'Swathi', 'Saidulu', 'Sivaparvathi')

# Question 4:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
• Find the length of the set it_companies
• Add 'Twitter' to it_companies
• Insert multiple IT companies at once to the set it_companies
• Remove one of the companies from the set it_companies
• What is the difference between remove and discard
• Join A and B
• Find A intersection B
• Is A subset of B
• Are A and B disjoint sets
• Join A with B and B with A
• What is the symmetric difference between A and B
• Delete the sets completely
• Convert the ages to a set and compare the length of the list and the set.

In [5]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("length of it_companies=",len(it_companies)) #finding the length of the it companies
it_companies.add('Twitter') #adding twitter to it companies
print(it_companies)
it_companies.update(['Amdocs','wipro','qualcomm']) #inserting multiple IT companies at once
print(it_companies)
it_companies.remove('Amdocs') #removing one of the it company from the set it_companies
print(it_companies)
#difference between discard() and remove method
print("Difference between Remove() and discard(): \ndiscard() method is different from the remove() method, because the remove() method will throw an error if the specified item is not present in list, where as the discard() method will not throw any error if item doesn't exist in list")
join=A.union(B) #joining A and B
print("join",join)
intersection=A.intersection(B) #finding A intersection B
print("intersection",intersection)
print("subset=",A.issubset(B)) #checking is A subset of B
print("disjoint_sets=",A.isdisjoint(B)) # checking Are A and B are Disjoint sets
join1=A.union(B) #joining A with B
print("joina&b",join1)
join2=B.union(A)
print("joinb&a",join2) #joining B with A
symmetric_difference=A.symmetric_difference(B)
print("symmetric_difference",symmetric_difference)
#deleting the Sets A and B completely
del(A) 
del(B)
length_age=len(age) #finding the length of the list
print("age of list is ",length_age)
age_set=set(age)#converting the list to set
print("age_set",age_set)
length_set=len(age_set)#finding the length of the set
print("length_set",length_set)
#comparing the length of the set with the length of the list.
if length_age==length_set :
    {
        print("true")
    }
else:
    print("false")

length of it_companies= 7
{'Facebook', 'Amazon', 'Twitter', 'Google', 'Microsoft', 'Oracle', 'IBM', 'Apple'}
{'Amdocs', 'Facebook', 'Amazon', 'Twitter', 'wipro', 'Google', 'Microsoft', 'Oracle', 'IBM', 'Apple', 'qualcomm'}
{'Facebook', 'Amazon', 'Twitter', 'wipro', 'Google', 'Microsoft', 'Oracle', 'IBM', 'Apple', 'qualcomm'}
Difference between Remove() and discard():
discard() method is different from the remove() method, because the remove() method will throw an error if the specified item is not present in list, where as the discard() method will not throw any error if item doesn't exist in list
join {19, 20, 22, 24, 25, 26, 27, 28}
intersection {19, 20, 22, 24, 25, 26}
subset= True
disjoint_sets= False
joina&b {19, 20, 22, 24, 25, 26, 27, 28}
joinb&a {19, 20, 22, 24, 25, 26, 27, 28}
symmetric_difference {27, 28}
age of list is  8
age_set {19, 22, 24, 25, 26}
length_set 5
false

Question 5
The radius of a circle is 30 meters. • Calculate the area of a circle and assign the value to a variable name of area_of_circle • Calculate the circumference of a circle and assign the value to a variable name of circum_of_circle • Take radius as user input and calculate the area

In [6]:
R=30
_area_of_circle_ = 3.14*R*R #calculating the area of circle and assigned it to the variable name _area_of_circle_
print("area of circle =",_area_of_circle_)
_circum_of_circle_ =2*3.14*R #calculating the circumference of the circle and assigned it to the variable name _circum_of_circle
print("circumference of circle=", _circum_of_circle_);
radius = int(input("Enter the value of radius: ")) #prompts the user to enter the radius.
print("radius of circle =",radius)
area=3.14*radius*radius #calculating the area
print("area of circle=",area)

area of circle = 2826.0
circumference of circle= 188.4
Enter the value of radius: 8
radius of circle = 8
area of circle= 200.96

Question 6
“I am a teacher and I love to inspire and teach people” • How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [7]:
string_sentence ="I am a teacher and I love to inspire and teach people" # assining string to string_sentence
word_list = string_sentence.split(' ') # using the split method splits string into a list
word_count=0
for i in word_list:
    if word_list.count(i) > 1:
        word_list.remove(i)
print(word_list)
print(len(word_list))

['am', 'a', 'teacher', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']
10

Question 7
Use a tab escape sequence to get the following lines. Name Age Country City Asabeneh 250 Finland Helsinki

In [8]:
String = "Name\tAge\tCountry City\nAsabench 250\tFinland Helsinki" #\t represents tab space and \n represents the next line
print(String)

Name	Age	Country City
Asabench 250	Finland Helsinki

Question 8
Use the string formatting method to display the following: radius = 10 area = 3.14 * radius ** 2 “The area of a circle with radius 10 is 314 meters square.”

In [9]:
radius = 10
area = 3.14 * radius * radius
print(" " + "The area of a circle radius" + " " + str(radius) + " " +"is" + " "+ str(3.14 * radius **2) +" meters square.")

 The area of a circle radius 10 is 314.0 meters square.

Question 9
Write a program, which reads weights (lbs.) of N students into a list and convert these weights to kilograms in a separate list using Loop. N: No of students (Read input from user) Ex: L1: [150, 155, 145, 148] Output: [68.03, 70.3, 65.77, 67.13]

In [1]:
Student_List_Lbs=[]
msg = int(input("Enter number of students: "))#taking an input from the user
Student_List_Kgs=[]

for i in range(0,msg):
    Student_List_Lbs.append(int(input()))
    Student_List_Kgs.append(Student_List_Lbs[i]*0.453592)#converting weight form lb to kg
print(Student_List_Lbs)    
print(Student_List_Kgs)

Enter number of students: 4
150
155
145
148
[150, 155, 145, 148]
[68.0388, 70.30676, 65.77083999999999, 67.131616]

Question 10

In [2]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
# creating a dataset and diving it into two part "A" represents training & "B" represents testing 
Datasetvalues = [[1, 0], [2, 1], [3, 1], [6, 1], [6, 1], [7, 0], [10, 0], [11, 0]]
A = [[1], [2] ,[3], [6], [6], [7], [10], [11]]
B = [0, 1, 1, 1, 1, 0, 0, 0]
A_training, A_testing, B_training, B_testing = train_test_split(A, B, test_size = 0.5, random_state=42)
# defining 3 as specified value
KNN_value = KNeighborsClassifier(n_neighbors=3)
KNN_value.fit(A_training, B_training)
predicted_data = KNN_value.predict(A_testing)
confusion_matrix = metrics.confusion_matrix(B_testing, predicted_data)
# obtaing possible combinations for confusion matrix
TruePositive = confusion_matrix[0][0]
TrueNegative = confusion_matrix[1][1]
FalsePositive = confusion_matrix[0][1]
FalseNegative = confusion_matrix[1][0]
# Calculating testing values,predicted values, confusion matrix value, accuracy,sensitivity,specificity values
print(f'Testing Values: {A_testing}')
print(f'Predicted data Values: {predicted_data}')
print(f'Confusion Matrix value: \n{confusion_matrix}')
print(f'Accuracy values: \n {metrics.accuracy_score(B_testing, predicted_data)}')
print(f'Sensitivy values: \n {TruePositive/(TruePositive + FalsePositive)}')
print(f'specificity values: \n {TrueNegative/(TrueNegative + FalseNegative)}')

Testing Values: [[2], [7], [1], [11]]
Predicted data Values: [1 1 1 1]
Confusion Matrix value:
[[0 3]
 [0 1]]
Accuracy values:
 0.25
Sensitivy values:
 0.0
specificity values:
 1.0